# FIXME: Tests repeatedly fail on neon CI leaving lingering crap running which
#   prevents the tests from finishing letting the job fail due to time out.
#   I am the only person annoyed by this so I guess we don't need testing here
#   at all.
# Tests: testsuite
# Depends: @, debhelper, cmake,
#          xvfb, xauth, dbus-x11, xserver-xephyr, libkf5service-bin, kded5,
#          xwayland, kwayland-integration, qtwayland5, mesa-utils,
#          dmz-cursor-theme, kwin-style-breeze
# Restrictions: build-needed

Tests: acc
Depends: @, dh-acc, exuberant-ctags
Restrictions: allow-stderr
